<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 積非城市-介紹

        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/about.css')

    body
        nav.navbar.navbar-default.navbar-fixed-top.navbar-top
            .container
                .navbar-header
                    a.navbar-brand 積非城市
                .navbar-collapse.collapse
                    .nav.navbar-nav.navbar-right
                        li
                            a(href='#section_ask') 專案搜尋 INTRO
                        li
                            a(href='#section_about') 簡介 ABOUT
                        li
                            a(href='#section_story') 作者故事 STORY
                        li
                            a(href='#section_future') 未來 FUTURE

        section#intro1
            .panels
                .panel.panel1
                    p 夢 
                    p 啟航
                    p 想
                .panel.panel2
                    p Give
                    p Take
                    p Recive
                .panel.panel3
                    p Experience
                    p It
                    p Today
                .panel.panel4
                    p Give
                    p All
                    p You
                .panel.panel5
                    p Life
                    p In
                    p Motions
                    
                    
          section#intro2
            .container
              .row
                  .col-sm-12
                      h1 我們的任務
                  .col-sm-12
                      h4 在積非城市上，你可以找到許多值得參與的計劃，並與奮力向前的提案者們，一起跨越理想與現實的交界。 我們正在打造一個環境，讓不限領域的創意，能更容易地實踐。 加入我們，用你參與的事，定義生活方式。
                  //- .col-sm-12
                  //-     .circle1
                  //-       .p 開始
              .row
                  .a1
                    .col-sm-4
                      img(src="http://i.imgur.com/FRGOHxF.png", alt="")
                    .col-sm-4
                      img(src="http://i.imgur.com/4vlRlKo.png", alt="")      
                    .col-sm-4
                      img(src="http://i.imgur.com/EwYN9y0.png", alt="")

                  
          section#intro3
            .row
              .col-sm-12.block1
                
                
          section#intro4
            
            
          
          footer



        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
        script(src='js/often.js')        
      
