<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title 積非城市-成為作者

        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css')
        link(rel='stylesheet prefetch', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='stylesheets/beauthor.css')

    body
        nav.navbar.navbar-default.navbar-fixed-top.navbar-top
            .container
                .navbar-header
                    a.navbar-brand 積非城市
                .navbar-collapse.collapse
                    .nav.navbar-nav.navbar-right
                        li
                            a(href='#section_ask') 專案搜尋 INTRO
                        li
                            a(href='#section_about') 簡介 ABOUT
                        li
                            a(href='#section_story') 作者故事 STORY
                        li
                            a(href='#section_future') 未來 FUTURE

        header.jumbotron
            .container
              h1(data-0='transform: translateY(-50px)', data-500='transform: translateY(100px)') 夢想可以當飯吃！
              //- hr
              h4
                  | 好的故事跟作品不只會發光
                  br
                  br
                  | 更能創造長期的收益跟價值 


        section#intro
            .container
              h1.divider 成為創作者


        section#now
            .container
              
  



        section#service
            .container



        footer.jumbotron
            .container
