
    <section id="section_service">
    <div class="container">
    <div class="row">
    <div class="col-sm-12"></div>
    <div class="col-sm-3">
    <h3>本週作品精選</h3>
    </div>
    <div class="col-sm-3">
    <h3>本週作者精選</h3>
    </div>
    <div class="col-sm-3">
    <h3>本週文章精選</h3>
    </div>
    <div class="col-sm-3">
    <h3>隨機音樂</h3>
    </div>
    </div>
    </div>
    </section>



section#section_story
    .container-fluid
        .row
            .col-sm-5.map(data-bottom-top='background-size: 150%; background-position: 0% 0%;', data-center='background-size: 100%; background-position: 50% 50%;')
                .cross x
            .col-sm-7
                .col-sm-12
                    h2 印刷對知識傳播的影響
                    hr
                .col-sm-12.features
                    .col-sm-4(data-bottom-top='transform: scale(1.5);opacity: 0', data-center='transform: scale(1);opacity: 1')
                        i.fa.fa-files-o
                        h4 快速複製
                    .col-sm-4(data-bottom-top='transform: scale(1.5);opacity: 0', data-center='transform: scale(1);opacity: 1')
                        i.fa.fa-paper-plane-o
                        h4 知識傳遞
                    .col-sm-4(data-bottom-top='transform: scale(1.5);opacity: 0', data-center='transform: scale(1);opacity: 1')
                        i.fa.fa-floppy-o  
                        h4 文化保存
                .col-sm-12
                    p
                        | 印刷機的開發使知識的傳播發生了革命性的變化：1469年在威尼斯成立第一家印刷社（即出版社），1500年該城就有印刷廠417家。1476年，威廉·卡克斯頓在英格蘭成立第一家印刷社°在1539年，西班牙人Juan Pablos在墨西哥的墨西哥城。Stephen Day於1628年在美國麻塞諸塞海灣地區建立了北美第一家印刷社，並協助成立了劍橋出版社。
section#section_future
    .container
        .row
            .col-sm-12
                h2 現代的印刷術
                hr
            .col-sm-6(data-bottom-top='filter: grayscale(100%)', data-center='filter: grayscale(0%)')
                img(src='http://www.falkenporzellan.com/fileadmin/_migrated/pics/Druckerei_2_02.jpg', alt='')
            .col-sm-6.feature(data-bottom-top='transform: translateX(50px);opacity: 0', data-center='transform: translateX(0px);opacity: 1')
                i.fa.fa-desktop
                h3 電腦印刷
                p 文件可通過雷射印字機、噴墨印表機或其它電腦印表機。在最近幾年，計算機列印和工業化印刷工藝已經融合在一起，導致數位印刷的發展。
                p
                    | 在電子技術迅速發展的過程中，印刷進入了電子控制和自動化的時期，電子排版、電子分色、電子雕版廣泛應用，在印刷質量和效率上都得到了巨大提高。計算機的應用繼續將印刷帶入了數字印刷時代，使傳統工藝難於完成的小品種、多變化印刷得以順利實現。
            .col-sm-6.feature(data-bottom-top='transform: translateX(50px);opacity: 0', data-center='transform: translateX(0px);opacity: 1')
                i.fa.fa-cubes
                h3 三維列印
                p
                    | 三維列印 是一種製造技術，物體是由三維文件和三維印表機生成。物體製造是通過一層層材料的疊加而列印出來. 在2012年, 一些公司例如Sculpteo或Shapeways提出網上的三維列印解決方案.
